.button-calculate {
  width: 7.9vw;
  height: 4.4vh;
  background-color: #096458;
  color: #FFFFFF;
  border: none;
  border-radius: 2px;
  margin-top: 2vh;
  margin-bottom: 1vh;
  font-size: 20px;
  font-weight: 700;
}

.swal2-title {
  color: #000000 !important;
  font-size: 22px !important;
  font-weight: 500 !important;
}

.swal2-confirm {
  background-color: #096458 !important;
  box-shadow: none !important;
}

@media (max-width: 800px) {
  .button-calculate {
    width: 36vw;
    font-size: 17px;
  }

  .swal2-title {
    font-size: 18px !important;
  }
}

@media (max-width: 400px) {
  .button-calculate {
    height: 5vh;
    font-size: 16px;
  }

  .swal2-title {
    font-size: 16px !important;
  }
}
