table {
    border-collapse: collapse;
}
  
th {
    color: rgb(9, 100, 88);
    padding: 4px 10px;
}
  
td {
    padding: 4px 10px;
    text-align: center;
}

@media (max-width: 768px) {
    table {
      width: 90%;
    }
}
  
@media (max-width: 320px) {
    table {
      width: 90%;
    }
}
