table {
    border-collapse: collapse;
    margin-top: 30px;
}
  
th {
    color: rgb(9, 100, 88);
    padding: 6px 10px;
    font-weight: 900;
}
  
td {
    padding: 6px 10px;
    text-align: center;
}

@media (max-width: 800px) {
    table {
      width: 90%;
    }
}
 
@media (max-width: 400px) {
    table {
      width: 90%;
      margin-top: 0px;
    }
}

@media (max-width: 320px) {
    table {
      width: 90%;
    }
}
