@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Lato", sans-serif;
  background-color: #000000;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4.5vh auto;
  width: 34vw;
  height: 91vh;
  background-color: #EEEEEE;
  border-radius: 8px;
}

@media (max-width: 800px) {
  .div-app {
    width: 380px;
    height: 89vh;
    border-radius: 4px;
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .div-app {
    width: 350px;
    height: 87vh;
    border-radius: 4px;
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .div-app {
    width: 300px;
    height: 87vh;
    border-radius: 4px;
    font-size: 13px;
  }
}